{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.mdc",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
